:root {
    --background: #ffffff;
    --text-color: #000000;
    --accent-col: #A3D1F1;
}

.files {
    background-color: var(--accent-col);
}

.comp-background {
    background-color: var(--background);
}

.dashboard-body {
    color: var(--text-color);
}

.ck .ck-content {
    height: 500px;
}